In [2]:
import pandas as pd

In [4]:
path_target = 'Paris_2018.csv'
polution_df = pd.read_csv('Paris_2018.csv', sep=';',
                          comment='#',
                          na_values="n/d",
                          converters={'heure': str})

polution_df

,date,heure,MELUN,VILLEM,LOGNES,CERGY,PA13,RUR-SE,RUR-NO,RUR-E,...,RUR_S,RUR-SO,VITRY,RUR-NE,MONTG,NEUIL,EIFF3,TREMB,RAMBO,RUR_N
0,NaN,,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,...,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3
1,01/01/2018,1,72,79,76,81,73,79,87,77,...,79,82,77,80,78,74,81,76,79,83
2,01/01/2018,2,72,80,78,81,73,80,89,78,...,78,80,78,80,79,75,82,76,80,84
3,01/01/2018,3,69,77,77,77,70,78,85,76,...,76,77,75,79,76,71,77,76,74,80
4,01/01/2018,4,68,73,74,75,67,78,83,75,...,75,76,69,76,74,66,76,72,72,79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8756,31/12/2018,20,2,12,1,31,30,16,47,15,...,35,33,13,49,3,35,48,9,21,35
8757,31/12/2018,21,2,24,1,31,34,27,49,32,...,35,40,24,47,9,13,42,4,22,33
8758,31/12/2018,22,2,35,1,36,33,29,46,35,...,33,35,27,44,14,19,54,12,35,41
8759,31/12/2018,23,2,28,19,34,43,27,50,24,...,37,42,34,45,34,39,53,26,42,45
8760,31/12/2018,24,4,41,30,44,46,28,58,17,...,51,49,44,50,42,39,52,42,45,51